body {
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082B48;

  &:hover {
    opacity: 0.7;
  }
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

/*=================================================================
# メインクエリ
=================================================================*/
// 幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// ヘッダーの高さ
$header-height: 100px;
$header-height_sp: 60px;

// レスポンジブ時の幅
$pd-tab: 24px;
$pd-sp: 16px;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "(max-width: #{$layout-width-inner - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {

	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/*=================================================================
# section  共通パーツ
=================================================================*/
.section {
  padding: 60px 0;

  @include mq('sp') {
    padding: 80px 0;
  }
}

.section-title  {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

  @include mq('sp') {
    font-size: 24px;
  }
}


//clearの解除

.clear::after {
  content: "";
  clear: both;
  display: block;

  @include mq('sp') {
    content: none;
  }
}

/*=================================================================
# header
=================================================================*/
.header {
  padding: 20px 0;
}

.header-left {
  float: left;

  @include mq('sp') {
    float: none;
  }
}

.header-right {
  float: right;

  @include mq('sp') {
    float: none;
  }
}

.header-title {
  font-size: 24px;
  font-weight: bold;

  @include mq('sp') {
    text-align: center;
  }
}

.header-nav {
  display: flex;
  justify-content: space-around;
}

.header-nav-item {
  float: left;
  margin-left: 50px;

  @include mq('sp') {
    float: none;
    margin: 0;
  }
}

.header-nav-item a {
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
}


/*=================================================================
# top
=================================================================*/
.top {
  background: url(../img/main-vsual-nontitle.png);
  background-size: cover;
  padding: 80px 0;

  @include mq('sp') {
    padding: 120px 0;
  }
}

.top-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

  @include mq('sp') {
    font-size: 32px;
  }
}

.top-subtitle {
  font-size: 18px;
  text-align: center;

  @include mq('sp') {
    font-size: 14px;
  }
}



/*=================================================================
# about
=================================================================*/
.about-left {
  float: left;
  width: 48%;

  @include mq('sp') {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

.about-right {
  float: right;
  width: 48%;

  @include mq('sp') {
    font-size: 14px;
    float: none;
    width: 100%;
  }
}

/*=================================================================
# course
=================================================================*/
.course {
  background-color: #e3fcf4;
}

.course-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-item {
  width: 30%;

  @include mq('sp') {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*=================================================================
# contact
=================================================================*/
.contact-message {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"] {
  width: 600px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 20px;

  @include mq('sp') {
    width: 100%;
  }
}

.btn {
  padding: 20px 60px;
  display: inline-block;
  background-color: #082B48;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  border: none;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.btn-register {
  background-color: #ec6d64;
  display: block;
  margin: 0 auto;
}

/*=================================================================
# footer
=================================================================*/
.footer {
  background-color: #082B48;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  font-size: 12px;
  float: right;

  @include mq('sp') {
    float: none;
    font-size: 10px;
    text-align: center;
  }
}