@charset "UTF-8";
body {
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082B48;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

/*=================================================================
# メインクエリ
=================================================================*/
/*=================================================================
# section  共通パーツ
=================================================================*/
.section {
  padding: 60px 0;
}

@media (max-width: 767px) {
  .section {
    padding: 80px 0;
  }
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

@media (max-width: 767px) {
  .clear::after {
    content: none;
  }
}

/*=================================================================
# header
=================================================================*/
.header {
  padding: 20px 0;
}

.header-left {
  float: left;
}

@media (max-width: 767px) {
  .header-left {
    float: none;
  }
}

.header-right {
  float: right;
}

@media (max-width: 767px) {
  .header-right {
    float: none;
  }
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header-title {
    text-align: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav-item {
  float: left;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .header-nav-item {
    float: none;
    margin: 0;
  }
}

.header-nav-item a {
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
}

/*=================================================================
# top
=================================================================*/
.top {
  background: url(https://github.com/tkm-webwork/portfolio1/blob/main/img/main-vsual-nontitle.png?raw=true);
  background-size: cover;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .top {
    padding: 120px 0;
  }
}

.top-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .top-title {
    font-size: 32px;
  }
}

.top-subtitle {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 767px) {
  .top-subtitle {
    font-size: 14px;
  }
}

/*=================================================================
# about
=================================================================*/
.about-left {
  float: left;
  width: 48%;
}

@media (max-width: 767px) {
  .about-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

.about-right {
  float: right;
  width: 48%;
}

@media (max-width: 767px) {
  .about-right {
    font-size: 14px;
    float: none;
    width: 100%;
  }
}

/*=================================================================
# course
=================================================================*/
.course {
  background-color: #e3fcf4;
}

.course-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-item {
  width: 30%;
}

@media (max-width: 767px) {
  .course-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*=================================================================
# contact
=================================================================*/
.contact-message {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"] {
  width: 600px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  input[type="email"] {
    width: 100%;
  }
}

.btn {
  padding: 20px 60px;
  display: inline-block;
  background-color: #082B48;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-register {
  background-color: #ec6d64;
  display: block;
  margin: 0 auto;
}

/*=================================================================
# footer
=================================================================*/
.footer {
  background-color: #082B48;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  font-size: 12px;
  float: right;
}

@media (max-width: 767px) {
  .copyright {
    float: none;
    font-size: 10px;
    text-align: center;
  }
}
